body {
    background-color: #242333;
    color: #fff;
    font-family: playfair-design, merriweather, arvo;
}

header {
    background-color: rgb(2, 52, 113);
    height: 150px;
    text-align: center;
    background-image: url('logo/logo.png');
    background-repeat: no-repeat;
}

h1 { 
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

nav {
    text-align: center;
    font-weight: bold ;
    font-size: 1.5em;
    padding-top: 10px;
    background-color: rgb(94, 94, 211);
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #fff;
}

nav a:visited {
    color: #6feaf6;
}

nav a:hover {
    color: aquamarine;
}

a {
    color: #fff;
}

a:visited {
    color: #6feaf6;
}

a:hover {
    color: aquamarineS;
}

footer {
    text-align: center;
    background-color: #242333; 
    font-size: .60em;
    font-style: italic;
    padding-bottom: 10px;
    border-top: 2px solid ;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #242333;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 10px 10px 3px 3px #333333;
}

h4 {
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
}

main {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    display: block;
}

.details {
    padding-left: 20%;
    padding-right: 20%;
}

img {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #220088;
    color: #00FFFF;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #000000;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #2200AA;
    color: #FFFFBB;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #000000;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #FFFF00;
}
